body {
  font-family: Arial, Helvetica, sans-serif;
}

#hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#hero-text img {
  width: 90%;
}

#hero-text div p {
  color: black;
}

#seccion-productos {
  margin: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#seccion-productos p {
  color: black;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 10px;
  width: 280px;
  height: 460px;
  border: 2px solid black;
  background-color: white;
}

header {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 64px;
  background-color: #050827;
}

header a {
  text-decoration: none;
  font-size: 16px;
  color: black;
}

header button {
  color: black;
  width: 80px;
  background-color: white;
  border-radius: 10px;
}

header #openCarrito {
  background-color: white;
}

.logo {
  width: 64px;
}

h1 {
  margin: 10px;
  padding: 4px;
  font-size: 40px;
}

.imagen {
  width: 200px;
  height: 240px;
}

button {
  border-radius: 4px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  width: 100px;
  height: 65px;
  background-color: #f3f6f7;
  font-size: 16px;
}

h2 {
  font-size: 18px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

.precio-text {
  font-size: 18px;
}

.cart-img {
  width: 60px;
}

#cart-seccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.carrito-container {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: auto;
  position: fixed;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#carrito {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 500px;
  height: auto;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  color: black;
}

#carrito .eliminar {
  background-color: red;
}

.carrito-container-active {
  opacity: 1;
  visibility: visible;
}

.elemento-carrito {
  list-style: none;
  margin: 0px;
  font-size: 16px;
}

.elemento-carrito img {
  width: 20px;
}

#divBotones {
  margin: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#btnSeguir {
  background-color: #41EB2D;
}

.itemLocal {
  background-color: white;
}

.dark-mode img {
  width: 60px;
}

.swal2-styled.swal2-confirm {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #41EB2D;
  color: #fff;
  font-size: 1em;
}

.contenedor-carrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.swiper {
  width: 1200px;
  height: 400px;
}
/*# sourceMappingURL=home.css.map */